.background-color{
    background-color: blue;
    color: white;
}
h2{
    color: blue;
}
#id2{
    border:1px solid rgb(219, 210, 210);
    padding-top: 20px;
    padding-bottom: 20px;
}
#id3{ 
    border:1px solid rgb(219, 210, 210);
    padding-top: 40px;
    padding-bottom: 40px;
}
a{
    color:white; 
    text-decoration:none;
    padding-bottom: 30px;
}
p{
    padding-top: 7px;
    padding-bottom: 7px;
}
.watermark{
    color: BLACK;
    position: relative;
    border:1px solid rgb(219, 210, 210);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
